body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .draggable {
    z-index: 1000; 
}

/* yellow background for overdue task */
.due-soon {
  background-color: yellow; 
}
 /* red background for overdue task */
.overdue {
  background-color: red; 
}